/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0px;
}
.counter-container {
  background-color: #f1f5fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #2d3a35;
  font-size: 40px;
  font-weight: 600;
  font-family: 'roboto';
  text-align: center;
  margin-bottom: 20px;
}
.count {
  color: #c20a72;
  font-size: 45px;
  font-weight: bold;
  margin-left: 5px;
}
.description {
  color: #2d3a35;
  font-size: 20px;
  font-family: 'roboto';
  text-align: center;
  margin-bottom: 15px;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  border-width: 0px;
}
